main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header>h1 {
  font-size: 1.25rem;
  font-weight: 500;
  color: #F9F4DA;
  margin-bottom: 0;
}

header>p {
  text-align: center;
  font-size: 0.875rem;
  max-width: 350px;
  color: #8E8E8E;
  margin-top: 4px;
}

.game-status {
  border-radius: 4px;
  padding: 8px 10px;
  background-color: #BA2A2A;
  text-align: center;
  color: #F9F4DA;
  margin: 10px 0px 40px 0px;
}

.game-status>h3 {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 1px;
}

.game-status>p {
  font-size: 1rem;
  font-weight: 500;
  margin: 1px;
}

.languages-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 350px;
  gap: 4.5px;
  margin-bottom: 36px;
}

.lang-tag {
  border-radius: 3px;
  padding: 4.5px;
  font-size: 0.75rem;
  font-weight: 700;
}

.word {
  display: flex;
  gap: 2px;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

.letter {
  width: 40px;
  height: 40px;
  text-align: center;
  background-color: #323232;
  border-bottom: 1px solid #F9F4DA;
  padding: 6px;
  font-size: 1.125rem;
  font-weight: 700;
}

.keyboard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 480px;
  gap: 8px;
}

.keyboard-letters {
  height: 40px;
  width: 40px;
  border-radius: 4px;
  border: 1px solid #D7D7D7;
  font-size: 1rem;
  font-weight: 600;
  background-color: #FCBA29;
}

@media (max-width: 600px) {
  /* .keyboard-letters{
    height: 35px;
    width: 35px;
  } */
}